/// --- COMMENTS__TEXT SCSS
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.CommentsContainer {
  @include padding-between-components;
}

.Comment {
  @include padding-between-components;
  @include body-copy;
  display: flex;
  @include tablet {
    padding: 0;
  }
  @include desktop {
    padding-right: 2rem;
  }

  @include tablet {
    align-items: center;
  }
  // flex-wrap: wrap;
  &__top {
    // @include padding-between-components;
    // display: flex;
    padding-left: 1rem;
    // justify-content: space-between;
  }
  &__info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__name {
    @include subheader;
    @include tablet {
      @include padding-between-components;
    }
  }

  &__date {
    @include tablet {
      @include padding-between-components;
    }
  }
}
