/// --- VIDEOINFOSHORT SCSS --- ///

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.video-info-short {
  @include padding-between-components;
  display: flex;

  &__title {
    @include subheader;
  }

  &__info {
    width: 70%;
    padding-left: 1rem;
  }

  &__channel {
    @include body-copy;
    padding-top: 0.5rem;
  }

  &__image {
    @include image;
    width: 120px;
    height: 60px;
  }

  &:hover {
    background-color: rgba($color: $brainflix-darkblack, $alpha: 0.1);
    cursor: pointer;
  }
}
