/// --- VideoInfoShort --- ///
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.VideoInfoShort {
  @include padding-between-components;
  display: flex;
  // align-items: flex-start;

  &__title {
    // @include padding-between-components;
    @include subheader;
  }

  &__info {
    width: 70%;
    padding-left: 1rem;
  }

  &__channel {
    // @include padding-between-components;
    @include body-copy;
    padding-top: 0.5rem;
  }

  &__image {
    // @include margin-between-components;
    @include image;
    width: 120px;
    height: 60px;
  }

  &:hover {
    background-color: rgba($color: $brainflix-darkblack, $alpha: 0.1);
    cursor: pointer;
  }
}
