/// --- BUTTON SCSS --- ///
@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.Button {
  @include margin-between-components;
  height: 2.5rem;
  width: 100%;
  padding: 0 32px;
  background-color: $action;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  @include labels-buttons-copy;
  border: none;
  background-image: url(../../assets/images/icons/upload.svg);
  background-repeat: no-repeat;
  background-position: 0.5rem;
  @include tablet {
    min-width: 150px;
    width: 150px;
    margin: 0;
  }

  &:hover {
    background-color: $action-hover;
  }

  &__comment {
    height: 3rem;
  }
}
