/// --- COLORS SCSS --- ///

// -- PRIMARY COLORS -- //

$primary-text: #323232;
// brainflix-black
// primary text color

$action: #0095ff;
// brainflix-blue
// primary CTA color.
// Active form field outline color.
// aka button default
// played video fill

$secondary-text: #afafaf;
// silver
// secondary text color
// text label color
// video buffer

$white: #ffffff;
// Background color.
// CTA text color.
// aka button
// video icon controls white fill
// scrubbing icon fill

// -- SECONDARY COLORS --//

$brainflix-darkblack: #000000;
// Video player components @50%opacity
// scrubber buffer fill

$action-hover: #0065ad;
// brainflix-darkblue
// CTA hover state color.
// aka button hover

$mercury: #e1e1e1;
// devider line
// form field outline
// image placeholder color
// avatar placeholder color

$alabaster: #fafafa;
// form field background color

$error: #d22d2d;
// form field error state border color
