/// --- MIXINS SCSS --- ///

@use "./variables" as *;
@use "./colors" as *;

// MEDIA QUERIES //
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// PADDING //

@mixin padding-headlines {
  padding-top: 24px;
  padding-bottom: 16px;
  @include tablet {
    padding-top: 36px;
    padding-bottom: 24px;
  }
}

@mixin padding-between-components {
  padding-top: 16px;
  @include tablet {
    padding-top: 24px;
  }
}

@mixin margin-between-components {
  margin-top: 16px;
  @include tablet {
    margin-top: 24px;
  }
}

@mixin image {
  border-radius: 4px;
  background-color: $mercury;
  // width: 100%;
}

@mixin padding-sections {
  padding: 0 1rem;
}
