@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.Hero {
  @include padding-between-components;

  &__video {
    width: 100%;
  }

  &__video-details {
    @include padding-sections;
  }

  &__section-title {
    @include padding-between-components;
    @include section-header;
  }

  &__info-container {
    display: flex;
    @include padding-between-components;
  }

  &__info-left {
    margin-right: 6rem;
  }
  &__channel {
    @include subheader;
  }

  &__date {
    @include padding-between-components;
    color: $secondary-text;
  }

  &__views {
    display: flex;
    background-image: url("../../assets/images/icons/views.svg");
    background-repeat: no-repeat;
    position: left;
    padding-left: 2rem;
    color: $secondary-text;
  }

  &__likes {
    @include margin-between-components;
    display: flex;

    background-image: url("../../assets/images/icons/likes.svg");
    background-repeat: no-repeat;
    position: left;
    padding-left: 2rem;
    color: $secondary-text;
  }

  &__description {
    @include padding-between-components;
  }
}
