/// --- MIXINS SCSS --- ///

@use "./variables" as *;
@use "./colors" as *;

// MEDIA QUERIES //

@mixin big-mobile {
    @media screen and (min-width: 677px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// PADDING //

@mixin padding-headlines {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    @include tablet {
        padding-top: 2.25rem;
        padding-bottom: 1.5rem;
    }
}

@mixin padding-between-components {
    padding-top: 1rem;
    @include tablet {
        padding-top: 1.5rem;
    }
}

@mixin margin-between-components {
    margin-top: 1rem;
    @include tablet {
        margin-top: 1.5rem;
    }
}

@mixin image {
    border-radius: 0.25rem;
    background-color: $mercury;
}

@mixin padding-sections {
    padding: 1rem;
    @include tablet {
        padding: 2rem;
    }
    @include desktop {
        padding-left: 7rem;
    }
}
