/// --- BRAINFLIX LOGO SCSS --- ///
@use "../../styles/partials/mixins" as *;

.logo {
  max-width: 7.5rem;
  max-height: 1.5625rem;
  margin-bottom: 1rem;

  @include tablet {
    margin-bottom: 0;
    margin-right: 7rem;
  }

  @include desktop {
    margin-right: 28rem;
  }
}
