@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.Divider {
  width: 100%;
  border-bottom: 1px solid $mercury;
  margin-top: 1rem;

  @include tablet {
    margin-top: 2rem;
  }

  &__hero {
    display: none;
  }

  &__hero-bottom {
    margin: 0;
  }
}
