@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;

.Form {
  @include padding-between-components;
  display: flex;
  @include tablet {
    // margin: 0rem 4rem;
    padding-bottom: 1rem;
    // border-bottom: 1px solid #e1e1e1;
    // // display:flex;
    justify-content: space-between;
  }
  @include desktop {
    padding-right: 2rem;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: flex-end;

      width: 100%;
    }
  }
  &__input {
    padding-left: 1rem;
    width: 100%;
    @include tablet {
      padding-right: 2rem;
    }
  }
  &__input-title {
    @include section-header;
  }

  &__input-field {
    display: flex;
    min-height: 2.25rem;
    height: 7rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid $mercury;
    background-color: $alabaster;
    color: black;
    // default state border: 1px solid $mercury
    // active state $bandsite-black;
    //error state #d22d2d;
    @include tablet {
      // width: 60%;
      margin: 0;

      height: 3rem;
      padding: 1rem;
    }
    &--active {
      border-color: $action-hover;
    }

    &--error {
      // background-color: #d22d2d;
      border-color: #d22d2d;
    }
    &--error-message {
      color: #d22d2d;
    }
    //overwriting this default setting that seems to be applied on the "ouline"
    &:focus-visible {
      outline-color: $action-hover;
    }
  }
}
