@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.VideosNext {
  @include padding-between-components;
  @include padding-sections;
  @include tablet {
    padding-top: 0;
    width: 45%;
  }

  @include desktop {
    border-left: 1px solid #e1e1e1;
    padding-left: 2rem;
    padding-right: 7rem;
  }

  &__section-title {
    @include padding-between-components;
    @include section-header;
  }
}
