@use "../../styles/partials/colors" as *;

.video-container {
  background-color: $brainflix-darkblack;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 45vw;

  &__video {
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }
}
