/// --- HEADER SCSS --- ///
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    padding: 1rem;

    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include big-mobile {
        padding: 1rem 7rem;
    }
    @include tablet {
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    @include desktop {
        padding: 1rem 7rem;
    }

    &__link {
        width: 100%;
    }
}
